html,body{
  background-color: rgb(19, 19, 88);
  color:white;
}
.wrapper {
  /* border: solid green; */
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{
  display:flex;
}
.pic {
  /* border: solid blue; */
  margin:10px;
  width: 50%;
  height: 400px;
}

.title {
  /* border: solid purple; */

}

.description {
  /* border: solid orange; */
  margin:20px;
  width:50%;
}

.buttonBox{
  display:flex;
  justify-content: space-around;
  /* border:solid red; */
  width:350px;
  height:50px;
  align-items: center;
}
button{
  height:30px;
  color:rgb(19, 19, 88);
}