.wrapper
{
  border: solid green;
}

.imgBox
{
  border: solid red;
}

.pic
{
  border: solid blue;
  width: 500px;
  height: 500px;
}

.title
{
  border: solid purple;
}

.description
{
  border: solid orange;
}